<!DOCTYPE html>
<html>
<head>
    <title>Busqueda de novias</title>
</head>
<body>
    <h1>Busqueda de novias</h1>
    <form action="/buscarNovia" method="GET">
        <label for="criterio">Escribe el nombre:</label>
        <input type="text" id="criterio" name="criterio" >
        <input type="submit" value="Search">
    </form>
    <br>
</body>
</html>
