<!DOCTYPE html>
<html>
<head>
    <title>Agregar Persona</title>
</head>
<body>
    <h1>Agregar Persona</h1>
    <form action="/agregar" method="post">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="Nombres" required>
        <br>
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="Apellidos" required>
        <br>
        <label for="vaallevar">Va a llevar:</label>
        <input type="text" id="vaallevar" name="VaAllevar" required>
        <br>
        <button type="submit">Registrar Persona</button>
    </form>
</body>
</html>
