<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <h1>Resultados de Votación</h1> <br> <br>
    <p>Gracias por votar por:  "<%= candidato.nombre %>"</p> <br> <br>
    <p>Total de votos para este candidato <%= candidato.votos %></p>
</body>
</html>